html{
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.background{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 400px;
  padding: 30px;
  position: relative;

}

.background div{
  display: flex;
  width: 200px;
  color: white;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

h2{
  padding-bottom: 5px;
}

button{
  margin-top: 60px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.first{
  background-color: #D79334;
  font-weight: 5px;
}

.second{
  background-color: #008080;
  font-weight: 5px;
}

.third{
  background-color: #064e40;
  font-weight: 5px;
}
